<h1>Welcome to Healthy Meals</h1>

<p>Dear, </p>
<p><strong>
  <%= @user.name.capitalize %> you are successfully get registered in Healthy Meals.
</strong></p>

<p>
  We are kindly recommend you to login <%= link_to 'here', @sign_in %>.
</p>

<p>
  Check all Healthy Meals Plans with discount on <%= link_to 'here', @plans %>.
</p>